<h1>New post</h1>

<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <!-- Your content here -->
      <div class="card">
        <div class="text-right">
        <div class="card-body text-right"> <!-- Apply text-right class here -->
          <%= render "form", post: @post %>
          <br>
          <!-- Content within the centered div -->
        </div>
        </div>
      </div>

      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>
</div>
