<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t('navbar.language') %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><%= link_to "English", change_locale_path(locale: 'en') %></li>
    <li><%= link_to "עברית", change_locale_path(locale: 'he') %></li>
  </ul>
</div>

